@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    margin: 0;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
span{
    background: url("https://cdn4.iconfinder.com/data/icons/twitter-29/512/166_Heart_Love_Like_Twitter-512.png");
    width: 100px;
    height: 100px;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform:  translate(-50%, -50%);
    animation: animate 6s linear;
}
@keyframes animate{
    0%{

        transform: translate(-50% , -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50% , -5000%);
        opacity: 0;
        filter: hue-rotate(720deg);

    }

}
/* editable text */

.container h1{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    font-family: "Roboto Mono", monospace;
    
}

/* calander css */

.calender-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    
}
.calender-container p{
    color: #fff;

}
.calender-container-box{
    border: #fff 2px solid;
    width: 300px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px #fff;
    overflow: hidden;
}
.month-name{
    margin: 0;
    padding: 10px;
    background-color: #FaDa;
    font-size: 30px;
    font-weight: bold;
}
.day-name{
    font-size: 20px;
    color: darkgray;
}
.day{
    font-size: 80px;
    margin: 0;
}